Repository kripod/react-hooks: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js}": ["eslint --fix", "stylelint --fix", "git add"],
  "*.{json,yml,md}": ["prettier --write", "git add"]
}

Updated Contributing md and removed format and lint commands
  CONTRIBUTING.md
  package.json
Due: prettier --write

Added husky:
  .huskyrc.json
  .lintstagedrc.json
  CONTRIBUTING.md
  package.json
  yarn.lock
Due: prettier --write

Reverted Contributing guidelines and removed stylelint
  .lintstagedrc.json
  CONTRIBUTING.md
Due: prettier --write

Merge pull request #82 from Jfelix61/feature/husky
  packages/standard-hooks/.huskyrc.json
  packages/standard-hooks/.lintstagedrc.json
  packages/standard-hooks/package.json
  packages/standard-hooks/yarn.lock
Due: prettier --write

Merge pull request #83 from kripod/all-contributors/add-Jfelix61
  packages/standard-hooks/.all-contributorsrc
  packages/standard-hooks/README.md
Due: prettier --write

Return extensions as an object in useUndoable
  packages/standard-hooks/CHANGELOG.md
  packages/standard-hooks/src/useUndoable.test.ts
  packages/standard-hooks/src/useUndoable.ts
Due: eslint --fix, stylelint --fix, prettier --write

Return extensions as an object in useUndoable
  CHANGELOG.md
  src/useUndoable.test.ts
  src/useUndoable.ts
Due: eslint --fix, stylelint --fix, prettier --write

Add `jump` function to `useUndoable`
  packages/standard-hooks/CHANGELOG.md
  packages/standard-hooks/src/useUndoable.ts
Due: eslint --fix, stylelint --fix, prettier --write

Add `jump` function to `useUndoable`
  CHANGELOG.md
  src/useUndoable.ts
Due: eslint --fix, stylelint --fix, prettier --write

Move `jump` function upwards
  packages/standard-hooks/src/useUndoable.ts
Due: eslint --fix, stylelint --fix

Move `jump` function upwards
  src/useUndoable.ts
Due: eslint --fix, stylelint --fix

Fix `jump` and make undo/redo depend on it
  src/useUndoable.ts
Due: eslint --fix, stylelint --fix

Fix `jump` and make undo/redo depend on it
  packages/standard-hooks/src/useUndoable.ts
Due: eslint --fix, stylelint --fix

Add test for jumping between deltas
  packages/standard-hooks/src/useUndoable.test.ts
Due: eslint --fix, stylelint --fix

Add test for jumping between deltas
  src/useUndoable.test.ts
Due: eslint --fix, stylelint --fix

Update dependencies
  packages/standard-hooks/package.json
  packages/standard-hooks/yarn.lock
Due: prettier --write

Update dependencies
  package.json
  yarn.lock
Due: prettier --write

Remove redundant type assertion
  src/ssr.test.tsx
Due: eslint --fix, stylelint --fix

Simplify `useToggle` tests
  src/useToggle.test.ts
Due: eslint --fix, stylelint --fix

Actualize `useToggle` docs
  src/useToggle.ts
Due: eslint --fix, stylelint --fix

Merge pull request #78 from Jfelix61/feature/useToggle-as-wrapper-hook
  packages/standard-hooks/src/ssr.test.tsx
  packages/standard-hooks/src/useToggle.test.ts
  packages/standard-hooks/src/useToggle.ts
Due: eslint --fix, stylelint --fix

Merge pull request #84 from kripod/all-contributors/add-Jfelix61
  packages/standard-hooks/.all-contributorsrc
  packages/standard-hooks/README.md
Due: prettier --write

Update changelog
  packages/standard-hooks/CHANGELOG.md
Due: prettier --write

Fix SSR test for `useToggle`
  packages/standard-hooks/src/ssr.test.tsx
Due: eslint --fix, stylelint --fix

Fix type detection in `useToggle` tests
  packages/standard-hooks/src/useToggle.test.ts
Due: eslint --fix, stylelint --fix

Update `useToggle` example
  packages/standard-hooks/src/useToggle.ts
Due: eslint --fix, stylelint --fix

Initial lerna commit
  lerna.json
  package.json
  yarn.lock
Due: prettier --write

Move several meta files to the root
  .all-contributorsrc
  .editorconfig
  .gitattributes
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/feature-request.md
  .github/ISSUE_TEMPLATE/question.md
  .gitignore
  .travis.yml
  .vscode/extensions.json
  .vscode/settings.json
  CHANGELOG.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  LICENSE
Due: prettier --write

Update links inside changelog
  CHANGELOG.md
Due: prettier --write

Use lerna with yarn instead of npm
  lerna.json
Due: prettier --write

Add bootstrap script to root `package.json`
  .travis.yml
  package.json
Due: prettier --write

Start hoisting dependencies
  package.json
  packages/standard-hooks/package.json
  yarn.lock
Due: prettier --write

Configure Yarn workspaces properly
  lerna.json
  package.json
  packages/standard-hooks/yarn.lock
  yarn.lock
Due: prettier --write

Move `lerna bootstrap` script to `postinstall`
  .travis.yml
  package.json
Due: prettier --write

Don't execute CI build twice for Node 10
  .travis.yml
Due: prettier --write

Hoist config files
  .eslintrc.json
  .huskyrc.json
  .lintstagedrc.json
  .prettierrc.json
  jest.config.js
  tsconfig.json
Due: eslint --fix, stylelint --fix, prettier --write

Hoist most of the commands
  .eslintrc.json
  package.json
  packages/standard-hooks/.eslintrc.js
  packages/standard-hooks/package.json
Due: eslint --fix, stylelint --fix, prettier --write

Fix package building issues
  package.json
  packages/standard-hooks/package.json
  packages/standard-hooks/tsconfig.json
Due: prettier --write

Try adding a workaround for CI package deployments
  .travis.yml
  package.json
Due: prettier --write

Move readme to root
  README.md
Due: prettier --write
