Repository kripod/react-hooks: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js}": ["eslint --fix", "stylelint --fix", "git add"],
  "*.{json,yml,md}": ["prettier --write", "git add"]
}

chore: update dependencies
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update
  .eslintrc.json
  package.json
  packages/state-hooks/README.md
  packages/state-hooks/package.json
  packages/state-hooks/src/useToggle.ts
  packages/state-hooks/src/useUndoable.test.ts
  packages/state-hooks/src/useUndoable.ts
  packages/web-api-hooks/README.md
  packages/web-api-hooks/package.json
  packages/web-api-hooks/src/useDeviceMotion.ts
  packages/web-api-hooks/src/useDeviceOrientation.ts
  packages/web-api-hooks/src/useMouseCoords.ts
  tsconfig.json
  yarn.lock
Due: eslint --fix, stylelint --fix, prettier --write

chore: update code of conduct
  CODE_OF_CONDUCT.md
Due: prettier --write

chore: add basic pull request template
  .github/PULL_REQUEST_TEMPLATE/pull-request-template.md
Due: prettier --write

chore: update contribution guide
  CONTRIBUTING.md
Due: prettier --write

chore: update year in license
  LICENSE
Due: none

chore(readme): actualize badge links
  README.md
Due: prettier --write

chore: improve developer experience
  .eslintrc.json
  .vscode/settings.json
  package.json
  packages/state-hooks/package.json
  packages/web-api-hooks/package.json
  yarn.lock
Due: prettier --write

style: auto-sort imports
  packages/state-hooks/src/useChanging.test.ts
  packages/state-hooks/src/usePrevious.test.ts
  packages/state-hooks/src/useTimeline.test.ts
  packages/state-hooks/src/useTimeline.ts
  packages/state-hooks/src/useToggle.test.ts
  packages/state-hooks/src/useUndoable.test.ts
  packages/state-hooks/src/useUndoable.ts
  packages/web-api-hooks/src/ssr.test.tsx
  packages/web-api-hooks/src/useDeviceMotion.test.ts
  packages/web-api-hooks/src/useDeviceMotion.ts
  packages/web-api-hooks/src/useDeviceOrientation.test.ts
  packages/web-api-hooks/src/useDeviceOrientation.ts
  packages/web-api-hooks/src/useDocumentReadiness.test.ts
  packages/web-api-hooks/src/useDocumentReadiness.ts
  packages/web-api-hooks/src/useDocumentVisibility.test.ts
  packages/web-api-hooks/src/useDocumentVisibility.ts
  packages/web-api-hooks/src/useEventListener.ts
  packages/web-api-hooks/src/useInterval.test.ts
  packages/web-api-hooks/src/useInterval.ts
  packages/web-api-hooks/src/useMedia.test.ts
  packages/web-api-hooks/src/useMedia.ts
  packages/web-api-hooks/src/useMouseCoords.test.ts
  packages/web-api-hooks/src/useMouseCoords.ts
  packages/web-api-hooks/src/useNetworkAvailability.test.ts
  packages/web-api-hooks/src/useNetworkAvailability.ts
  packages/web-api-hooks/src/useNetworkInformation.ts
  packages/web-api-hooks/src/usePreferredLanguages.test.ts
  packages/web-api-hooks/src/usePreferredLanguages.ts
  packages/web-api-hooks/src/useStorage.ts
  packages/web-api-hooks/src/useViewportScale.ts
  packages/web-api-hooks/src/useViewportScrollCoords.ts
  packages/web-api-hooks/src/useViewportSize.ts
  packages/web-api-hooks/src/useWindowScrollCoords.test.ts
  packages/web-api-hooks/src/useWindowScrollCoords.ts
  packages/web-api-hooks/src/useWindowSize.test.ts
  packages/web-api-hooks/src/useWindowSize.ts
  packages/web-api-hooks/src/utils.ts
Due: eslint --fix, stylelint --fix

chore(meta): update package "repository" fields
  packages/state-hooks/package.json
  packages/web-api-hooks/package.json
Due: prettier --write

chore: reduce amount of config files
  .commitlintrc.json
  .cz.json
  .huskyrc.json
  .lintstagedrc.json
  package.json
Due: prettier --write

ci: simplify config
  .travis.yml
Due: prettier --write

chore: fix excluding tests from packages
  packages/state-hooks/tsconfig.json
  packages/web-api-hooks/tsconfig.json
Due: prettier --write

chore: enable isolatedModules compiler option
  packages/web-api-hooks/src/index.ts
  tsconfig.json
Due: eslint --fix, stylelint --fix, prettier --write

fix: importing NetworkInformation types
  packages/web-api-hooks/src/experimental-types/NetworkInformation.d.ts
  packages/web-api-hooks/src/useNetworkInformation.ts
Due: eslint --fix, stylelint --fix

test(useNetworkInformation): fix
  jest.config.js
Due: eslint --fix, stylelint --fix

refactor!: rename preference hooks
  packages/web-api-hooks/documentation.yml
  packages/web-api-hooks/src/index.ts
  packages/web-api-hooks/src/useColorSchemePreference.ts
  packages/web-api-hooks/src/useLanguagePreferences.test.ts
  packages/web-api-hooks/src/useLanguagePreferences.ts
  packages/web-api-hooks/src/useMotionPreference.ts
Due: eslint --fix, stylelint --fix, prettier --write

docs: update readmes
  README.md
  packages/state-hooks/src/useTimeline.ts
  packages/state-hooks/src/useUndoable.ts
  packages/web-api-hooks/README.md
  packages/web-api-hooks/src/useLanguagePreferences.ts
  packages/web-api-hooks/src/useMouseCoords.ts
  packages/web-api-hooks/src/useSize.ts
  packages/web-api-hooks/src/useViewportScrollCoords.ts
  packages/web-api-hooks/src/useViewportSize.ts
  packages/web-api-hooks/src/useWindowScrollCoords.ts
  packages/web-api-hooks/src/useWindowSize.ts
Due: eslint --fix, stylelint --fix, prettier --write

chore(release): publish
  packages/state-hooks/CHANGELOG.md
  packages/state-hooks/package.json
  packages/web-api-hooks/CHANGELOG.md
  packages/web-api-hooks/package.json
Due: prettier --write

fix: bundle NetworkInformation properly
  jest.config.js
  packages/web-api-hooks/package.json
  packages/web-api-hooks/src/experimental-types/NetworkInformation.bundled.ts
  packages/web-api-hooks/src/experimental-types/NetworkInformation.d.ts
  packages/web-api-hooks/src/useNetworkInformation.ts
  yarn.lock
Due: eslint --fix, stylelint --fix, prettier --write

chore(release): publish
  packages/web-api-hooks/CHANGELOG.md
  packages/web-api-hooks/package.json
Due: prettier --write

chore: improve changelog generation
  lerna.json
Due: prettier --write

chore(deps): update
  package.json
  packages/state-hooks/package.json
  packages/web-api-hooks/package.json
  yarn.lock
Due: prettier --write

improvement: media queries level 5 compliance
  packages/web-api-hooks/CHANGELOG.md
  packages/web-api-hooks/README.md
  packages/web-api-hooks/src/ssr.test.tsx
  packages/web-api-hooks/src/useColorSchemePreference.ts
Due: eslint --fix, stylelint --fix, prettier --write

ci: fix build
  .travis.yml
Due: prettier --write

fix: useViewportScrollCoords & useViewportScale fall back properly
  packages/web-api-hooks/src/useViewportScale.test.ts
  packages/web-api-hooks/src/useViewportScale.ts
  packages/web-api-hooks/src/useViewportScrollCoords.test.ts
  packages/web-api-hooks/src/useViewportScrollCoords.ts
  packages/web-api-hooks/src/utils.ts
Due: eslint --fix, stylelint --fix
