Repository kripod/react-hooks: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write

chore(release): publish
  packages/state-hooks/CHANGELOG.md
  packages/state-hooks/package.json
  packages/web-api-hooks/CHANGELOG.md
  packages/web-api-hooks/package.json
Due: prettier --write

chore(linting): enforce recommended rules for tests
  .eslintrc.json
  package.json
  yarn.lock
Due: prettier --write

Move checkForPermission method to external utils file
  packages/web-api-hooks/src/useClipboard.ts
  packages/web-api-hooks/src/utils.ts
Due: eslint --fix, stylelint --fix

Update promises to async / await
  packages/web-api-hooks/src/useClipboard.ts
Due: eslint --fix, stylelint --fix

test: add test todo
  packages/web-api-hooks/src/useEventListener.test.ts
  packages/web-api-hooks/src/useGeolocation.test.ts
  packages/web-api-hooks/src/useLocalStorage.test.ts
  packages/web-api-hooks/src/useNetworkInformation.test.ts
  packages/web-api-hooks/src/usePreferredColorScheme.test.ts
  packages/web-api-hooks/src/useSessionStorage.test.ts
  packages/web-api-hooks/src/useStorage.test.ts
  packages/web-api-hooks/src/useViewportScale.test.ts
  packages/web-api-hooks/src/useViewportSize.test.ts
Due: eslint --fix, stylelint --fix

docs(usePreferredColorScheme): simplify example
  packages/web-api-hooks/src/usePreferredColorScheme.ts
Due: eslint --fix, stylelint --fix

feat: add usePreferredMotionIntensity
  packages/web-api-hooks/src/usePreferredMotionIntensity.ts
Due: eslint --fix, stylelint --fix

chore(deps): update dependencies
  package.json
  yarn.lock
Due: prettier --write

docs: add usePreferredMotionIntensity
  README.md
  packages/web-api-hooks/README.md
  packages/web-api-hooks/documentation.yml
  packages/web-api-hooks/src/index.ts
Due: eslint --fix, stylelint --fix, prettier --write

ci: set up continuous deployment
  .travis.yml
  package.json
Due: prettier --write

chore(release): publish
  packages/web-api-hooks/CHANGELOG.md
  packages/web-api-hooks/package.json
Due: prettier --write

Turn off two eslint rules
  packages/web-api-hooks/src/useClipboard.ts
Due: eslint --fix, stylelint --fix

feat: add useSize for observing the dimensions of an element
  packages/web-api-hooks/README.md
  packages/web-api-hooks/documentation.yml
  packages/web-api-hooks/package.json
  packages/web-api-hooks/src/index.ts
  packages/web-api-hooks/src/ssr.test.tsx
  packages/web-api-hooks/src/useSize.ts
  tsconfig.json
  yarn.lock
Due: eslint --fix, stylelint --fix, prettier --write

chore(types): fix build and type check issues
  packages/web-api-hooks/src/experimental-types/NetworkInformation.d.ts
  packages/web-api-hooks/src/useSize.ts
  tsconfig.json
Due: eslint --fix, stylelint --fix, prettier --write

fix(useMedia): server-side rendering behavior
  packages/web-api-hooks/src/useMedia.ts
Due: eslint --fix, stylelint --fix

fix(useMedia): handle query param changes immediately
  packages/web-api-hooks/src/useMedia.ts
Due: eslint --fix, stylelint --fix

fix(useSize): make observer work without override
  packages/web-api-hooks/src/useSize.ts
Due: eslint --fix, stylelint --fix

feat: add useFocus sensor
  packages/web-api-hooks/src/index.ts
  packages/web-api-hooks/src/useFocus.ts
Due: eslint --fix, stylelint --fix

feat: add useHover sensor
  packages/web-api-hooks/src/index.ts
  packages/web-api-hooks/src/useHover.ts
Due: eslint --fix, stylelint --fix

docs: update
  packages/web-api-hooks/README.md
  packages/web-api-hooks/documentation.yml
  packages/web-api-hooks/src/useHover.ts
Due: eslint --fix, stylelint --fix, prettier --write

fix(useSize): possible ReferenceError caused by accessing ResizeObserver
  packages/web-api-hooks/src/useSize.ts
Due: eslint --fix, stylelint --fix

feat: add useChanging for change detection
  packages/state-hooks/README.md
  packages/state-hooks/documentation.yml
  packages/state-hooks/src/index.ts
  packages/state-hooks/src/useChanging.test.ts
  packages/state-hooks/src/useChanging.ts
Due: eslint --fix, stylelint --fix, prettier --write

docs(useHover): fix parameter type
  packages/web-api-hooks/README.md
  packages/web-api-hooks/src/useHover.ts
Due: eslint --fix, stylelint --fix, prettier --write

chore(lerna): remove unused config rule
  lerna.json
Due: prettier --write

chore(lerna): fix GitHub release creation
  lerna.json
Due: prettier --write

chore(linting): start using airbnb-typescript config
  .eslintrc.json
  package.json
  yarn.lock
Due: prettier --write

style: use explicit function return types
  packages/state-hooks/src/useChanging.ts
  packages/web-api-hooks/src/ssr.test.tsx
  packages/web-api-hooks/src/useEventListener.ts
  packages/web-api-hooks/src/useFocus.ts
  packages/web-api-hooks/src/useGeolocation.ts
  packages/web-api-hooks/src/useHover.ts
  packages/web-api-hooks/src/useInterval.ts
  packages/web-api-hooks/src/useLocalStorage.ts
  packages/web-api-hooks/src/useMedia.ts
  packages/web-api-hooks/src/useNetworkAvailability.ts
  packages/web-api-hooks/src/usePreferredLanguages.ts
  packages/web-api-hooks/src/useSessionStorage.ts
  packages/web-api-hooks/src/useSize.ts
  packages/web-api-hooks/src/utils.ts
Due: eslint --fix, stylelint --fix

chore(linting): enable explicit-function-return-type rule
  .eslintrc.json
Due: prettier --write

style: re-order linting rules alphabetically
  .eslintrc.json
Due: prettier --write

docs(useFocus): rename hasFocus to isFocused
  packages/web-api-hooks/src/useFocus.ts
Due: eslint --fix, stylelint --fix

docs(readme): update
  packages/web-api-hooks/README.md
Due: prettier --write

style(types): use readonly array/tuple notation
  packages/state-hooks/src/useTimeline.ts
  packages/web-api-hooks/src/useMouseCoords.ts
  packages/web-api-hooks/src/usePreferredLanguages.ts
  packages/web-api-hooks/src/useSize.ts
  packages/web-api-hooks/src/useViewportScrollCoords.ts
  packages/web-api-hooks/src/useViewportSize.ts
  packages/web-api-hooks/src/useWindowScrollCoords.ts
  packages/web-api-hooks/src/useWindowSize.ts
Due: eslint --fix, stylelint --fix

chore: update dependencies
  package.json
  yarn.lock
Due: prettier --write

chore: update VS Code linting settings
  .vscode/settings.json
Due: prettier --write

refactor(useStorage): use latest TypeScript features
  packages/web-api-hooks/src/useStorage.ts
Due: eslint --fix, stylelint --fix

style: reformat files
  packages/web-api-hooks/src/index.ts
  packages/web-api-hooks/src/types.ts
Due: eslint --fix, stylelint --fix

Path conditions:
  eslint --fix: any of: *.{ts,tsx,js}
  stylelint --fix: any of: *.{ts,tsx,js}
  prettier --write: any of: *.{json,yml,md}
