Repository kripod/react-hooks: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write

chore: make repo Commitizen-friendly
  .commitlintrc.json
  .cz.json
  .huskyrc.json
  package.json
  yarn.lock
Due: prettier --write

Fix CI deployments
  .travis.yml
Due: prettier --write

Release v1.4.1
  CHANGELOG.md
  package.json
Due: prettier --write

Revert "Update links inside changelog"
  CHANGELOG.md
Due: prettier --write

chore(changelog): fix links
  CHANGELOG.md
Due: prettier --write

chore(changelog): add missing version
  CHANGELOG.md
Due: prettier --write

chore(lerna): fix version command
  lerna.json
  packages/standard-hooks/CHANGELOG.md
Due: prettier --write

chore(branding): remove standard from project name
  .all-contributorsrc
  .github/ISSUE_TEMPLATE/bug-report.md
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  packages/standard-hooks/package.json
Due: prettier --write

ci: opt out of continuous deployment
  .travis.yml
Due: prettier --write

chore(web-api-hooks): add package-specific readme
  packages/web-api-hooks/README.md
Due: prettier --write

chore: store contributors in the root readme only
  package.json
  packages/web-api-hooks/package.json
Due: prettier --write

chore: ignore built files during tests
  jest.config.js
Due: eslint --fix, stylelint --fix

chore: make root readme repo-specific
  README.md
Due: prettier --write

chore(web-api-hooks): prepare moving state hooks to a separate package
  packages/web-api-hooks/documentation.yml
  packages/web-api-hooks/src/index.ts
  packages/web-api-hooks/src/ssr.test.tsx
Due: eslint --fix, stylelint --fix, prettier --write

chore: move state hooks to a separate package
  packages/state-hooks/.eslintrc.js
  packages/state-hooks/CHANGELOG.md
  packages/state-hooks/README.md
  packages/state-hooks/documentation.yml
  packages/state-hooks/package.json
  packages/state-hooks/src/index.ts
  packages/state-hooks/src/usePrevious.test.ts
  packages/state-hooks/src/usePrevious.ts
  packages/state-hooks/src/useTimeline.test.ts
  packages/state-hooks/src/useTimeline.ts
  packages/state-hooks/src/useToggle.test.ts
  packages/state-hooks/src/useToggle.ts
  packages/state-hooks/src/useUndoable.test.ts
  packages/state-hooks/src/useUndoable.ts
  packages/state-hooks/src/utils.ts
  packages/state-hooks/tsconfig.json
  packages/web-api-hooks/src/utils.ts
Due: eslint --fix, stylelint --fix, prettier --write

chore(web-api-hooks): make readme consistent with state-hooks
  packages/web-api-hooks/README.md
Due: prettier --write

chore: remove unused fields from root package.json
  package.json
Due: prettier --write

docs: rename components in examples to denote the context of usage
  packages/state-hooks/README.md
  packages/state-hooks/src/usePrevious.ts
  packages/state-hooks/src/useTimeline.ts
  packages/state-hooks/src/useToggle.ts
  packages/state-hooks/src/useUndoable.ts
  packages/web-api-hooks/README.md
  packages/web-api-hooks/src/useDeviceMotion.ts
  packages/web-api-hooks/src/useDeviceOrientation.ts
  packages/web-api-hooks/src/useDocumentReadiness.ts
  packages/web-api-hooks/src/useDocumentVisibility.ts
  packages/web-api-hooks/src/useEventListener.ts
  packages/web-api-hooks/src/useGeolocation.ts
  packages/web-api-hooks/src/useInterval.ts
  packages/web-api-hooks/src/useLocalStorage.ts
  packages/web-api-hooks/src/useMedia.ts
  packages/web-api-hooks/src/useMouseCoords.ts
  packages/web-api-hooks/src/useNetworkAvailability.ts
  packages/web-api-hooks/src/useNetworkInformation.ts
  packages/web-api-hooks/src/usePreferredColorScheme.ts
  packages/web-api-hooks/src/usePreferredLanguages.ts
  packages/web-api-hooks/src/useSessionStorage.ts
  packages/web-api-hooks/src/useViewportScale.ts
  packages/web-api-hooks/src/useViewportScrollCoords.ts
  packages/web-api-hooks/src/useViewportSize.ts
  packages/web-api-hooks/src/useWindowScrollCoords.ts
  packages/web-api-hooks/src/useWindowSize.ts
Due: eslint --fix, stylelint --fix, prettier --write

docs(readme): add details about usage with examples
  packages/state-hooks/README.md
  packages/web-api-hooks/README.md
Due: prettier --write

chore(state-hooks): add state-management as a keyword to package.json
  packages/state-hooks/package.json
Due: prettier --write

chore(changelog): use Conventional Commits preset
  lerna.json
  package.json
  yarn.lock
Due: prettier --write

chore: move packages to old version numbers
  packages/state-hooks/package.json
  packages/web-api-hooks/package.json
Due: prettier --write

chore(release): publish
  packages/state-hooks/CHANGELOG.md
  packages/state-hooks/package.json
  packages/web-api-hooks/CHANGELOG.md
  packages/web-api-hooks/package.json
Due: prettier --write

revert: "chore(release): publish"
  packages/state-hooks/CHANGELOG.md
  packages/state-hooks/package.json
  packages/web-api-hooks/CHANGELOG.md
  packages/web-api-hooks/package.json
Due: prettier --write

ci(windows): fix builds
  .travis.yml
Due: prettier --write

Revert "chore(changelog): use Conventional Commits preset"
  lerna.json
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update
  yarn.lock
Due: none

chore(lerna): enable GitHub release creation
  lerna.json
Due: prettier --write

Revert "chore(release): publish"
  packages/state-hooks/CHANGELOG.md
  packages/state-hooks/package.json
  packages/web-api-hooks/CHANGELOG.md
  packages/web-api-hooks/package.json
Due: prettier --write

ci: migrate to travis-ci.com
  README.md
Due: prettier --write

chore: add GH_TOKEN to dotenv file
  .gitignore
  package.json
  yarn.lock
Due: prettier --write

Add clipboard hooks - first approach
  packages/web-api-hooks/src/index.ts
  packages/web-api-hooks/src/useClipboard.ts
Due: eslint --fix, stylelint --fix

Change the permission name
  packages/web-api-hooks/src/useClipboard.ts
Due: eslint --fix, stylelint --fix

chore(deps): update
  package.json
  packages/state-hooks/package.json
  packages/web-api-hooks/package.json
  yarn.lock
Due: prettier --write

chore: update changelogs
  CHANGELOG.md
  packages/state-hooks/CHANGELOG.md
  packages/web-api-hooks/CHANGELOG.md
Due: prettier --write

fix(useMedia): improve compatibility by using deprecated listener syntax
  packages/web-api-hooks/src/useMedia.test.ts
  packages/web-api-hooks/src/useMedia.ts
Due: eslint --fix, stylelint --fix

chore(commitlint): allow camelCased scope names
  .commitlintrc.json
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx,js}
  stylelint --fix: any of: *.{ts,tsx,js}
  prettier --write: any of: *.{json,yml,md}
